# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store
._*

# VS Code
.vscode
.vs
.vsconfig
*.vsix
*.sln
*.slnx
*.csproj

#Unity
ProjectSettings/**
UserSettings/**
Library/**
Logs/**
Temp/**
obj/**

#UnityPlugin
Assets/**
!Assets/UnityPlugin**
